{% extends 'base.html' %}

{% block page-nav-links %}
  <a class="page-nav-item" href="{% url 'login' %}">Log in</a>
{% endblock page-nav-links %}

{% block content %}
  <section id="login-card" class="card">
    {% if success %}

    <h1 class="page-title">
      Success, click below to log in with the username and password you set.
    </h1>
    <a href="{% url 'login' %}">Login</a>

    {% else %}

    <h1 class="page-title">
      Create an account
    </h1>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Create account</button>
    </form>

    {% endif %}
  </section>
{% endblock content %}
