body {
    margin: 0;
    font-family: sans-serif;

    --alrite-rgb: 111, 195, 135;
    --alrite-green: #6FC387;
  
    --light-green: #E5F1E8;
    --dark-green: #27442F;
  
    --light-border: #E2E2E2;
    --dark-border: #909090;
    --light-background: #FBFBFB;
    --near-black: #262626;
    --warning-orange: #ED6F2E;
}

body {
    font-family: 'Poppins', sans-serif;
}

main, body > footer {
    margin: 32px 8px 8px;
}

section {
    margin: 15px;
}

details summary {
    cursor: pointer;
}

summary > * {
    display: inline;
}

summary.header {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav h1 {
    margin: 0;
}

a {
    color: var(--alrite-green);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

th, td {
    padding: 5px;
    border: 2px solid black;
}

#page-navigation {
    background-color: var(--light-background);
    border: 3px solid var(--light-border);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 15px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-navigation > span {
    display: flex;
    flex-direction: row;
}

.page-nav-item {
    padding: 0.1em 0.25em;
    margin-left: 0.5em;
    border: 3px solid transparent;
    transition: border 0.25s ease, border-radius 0.25s ease;
}

.page-nav-item.active {
    border-bottom: 3px solid var(--alrite-green);
}

.page-nav-item:hover {
    border: 3px solid var(--alrite-green);
    text-decoration: none;
    border-radius: 7.5px;
}

.logo {
    color: var(--alrite-green);
    font-weight: 600;
    font-size: 30px;
    margin-left: 5px;
}

.page-header {
    color: var(--near-black);
}

.hidden {
    display: none;
}