body {
    margin: 0;
    font-family: sans-serif;

    --alrite-rgb: 111, 195, 135;
    --alrite-green: #6FC387;

    --light-green: #E5F1E8;
    --dark-green: #27442F;

    --light-border: #E2E2E2;
    --dark-border: #909090;
    --light-background: #FBFBFB;
    --near-black: #262626;
    --warning-orange: #ED6F2E;
}

body.do-transition {
    transition: background-color 0.5s ease;
}

body,
button,
input {
    font-family: 'Poppins', sans-serif;
}

body>footer {
    margin: 8px;
}

section {
    margin: 10px;
}

details summary {
    cursor: pointer;
}

summary>* {
    display: inline;
}

summary.header {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

nav h1 {
    margin: 0;
}

a {
    color: var(--alrite-green);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-spacing: 0;
    /* border-collapse: collapse; */
}

th,
td {
    padding: 5px;
    border: 1px solid var(--light-border);
    vertical-align: baseline;
}

summary {
    transition: opacity 0.25s ease;
}

summary:hover {
    opacity: 0.5;
}

.do-transition th,
.do-transition td {
    transition: border 0.5s ease
}

table thead th:first-child {
    border-top-left-radius: 7px;
}

table thead th:last-child {
    border-top-right-radius: 7px;
}

table tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

table tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}

.card h1 {
    font-weight: 400;
    font-size: 20px;
    opacity: 0.85;
}

.card h2 {
    font-size: 12px;
    opacity: 0.35;
    font-weight: 300;
}

.card label {
    font-size: 14px;
    opacity: 0.45;
    font-weight: 300;
}

.card button {
    border: none;
    border-radius: 3px;
    color: white;
    background-color: var(--near-black);
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.card button:hover {
    cursor: pointer;
    background-color: var(--alrite-green);
}

.card {
    background-color: var(--light-background);
    border: 3px solid var(--light-border);
    border-radius: 10px;
}

.do-transition .card {
    transition: border 0.5s ease, background-color 0.5s ease
}

.center-col {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.version-link {
    display: block;
    opacity: 0.8;
    font-size: 14px;
}

.page-changes {
    margin-left: 1.5em;
}

.page-changes>summary {
    margin-left: -0.75em;
    color: var(--alrite-green)
}

.page-changes>p {
    position: relative;
    margin: 0 0 0 1em;
}

.page-changes>p::before {
    content: "> ";
    opacity: 0.25;
    position: absolute;
    left: -1em;
}

#login-card {
    margin-top: 50px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 20px 20px;
}

#login-card input {
    display: block;
    width: calc(100% - 10px);
    height: 25px;
    line-height: 15px;
    padding: 3px;
    margin-bottom: 15px;
}

#login-card label {
    display: block;
}

#login-card h1 {
    font-size: 24px;
    margin-bottom: 0;
}

#login-card h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

#dashboard-columns {
    display: flex;
    align-items: flex-start;
}

#page-navigation {
    margin: 10px 10px;
    padding: 10px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-navigation>span {
    display: flex;
    flex-direction: row;
}

.page-nav-item {
    padding: 0.1em 0.25em;
    margin-left: 0.5em;
    border: 3px solid transparent;
    transition: border 0.25s ease, border-radius 0.25s ease;
}

.page-nav-item.active {
    border-bottom: 3px solid var(--alrite-green);
}

.page-nav-item:hover {
    border: 3px solid var(--alrite-green);
    text-decoration: none;
    border-radius: 6px;
}

h1.logo {
    color: var(--alrite-green) !important;
    font-weight: 600;
    font-size: 30px;
    margin-left: 5px;
}

.page-title {
    color: var(--near-black);
}

.util-button {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: white;

    cursor: pointer;
    --bounce: cubic-bezier(.47, 1.64, .41, 1);
    --no-over-bounce: cubic-bezier(.47, 1.48, .41, .8);
    transition: transform 0.1s ease,
        opacity 0.5s var(--bounce),
        border 0.5s var(--bounce),
        width 0.5s var(--bounce),
        background-color 0.5s var(--no-over-bounce),
        height 0.5s var(--no-over-bounce);
    border: 2px solid transparent;
    border-radius: 8px;
}

.util-button:hover {
    border: 2px solid var(--alrite-green)
}

.util-button:active {
    border: 2px solid var(--alrite-green);
    transform: scale(0.95);
}

/* ========= */
/* DARK MODE */

body.darkMode {
    background-color: var(--near-black);

    --light-green: #27442F;
    --dark-green: #E5F1E8;

    --light-border: #7E7E7E;
    --dark-border: #d1d1d1;
    --light-background: #545454;

    color: white;
}

.darkMode h1,
.darkMode h2,
.darkMode h3 {
    color: white;
}

.darkMode .util-button {
    background-color: var(--near-black);
}

.hidden {
    display: none;
}
