body {
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
}

div.outer-div {
    background: #f5f7fb;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    background: #f5f7fb;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.register-div {
    margin-top: 50px;
    width: 500px;
}

div.inner-div {
    width: 500px;
    height: 400px;
}

.login-form {
    width: 100%;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    border: 2px solid #f5f7fb;
    padding: 10px;
    font-size: 14px;
}

.register-form {
    width: 100%;
    background: white;
    border-radius: 10px;
    border: 2px solid #f5f7fb;
    padding: 10px;
    font-size: 14px;
}

.login-form label, .register-form label {
    font-size: 14px;
}

.login-form input, .register-form input, .register-form select {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    background: #fafdf7;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #f5f7fb;
}

.create {
    margin-bottom: 20px;
    font-family: "Times New Roman";
    font-weight: bold;
}

.top-bar {
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    height: 60px;
    position: fixed;
}

.top-list-left {
    float: left;
    padding-left: 20px;
}

.top-list-left ul {
    list-style: none;
    margin-top: 10px;
}

.top-list-left ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
    margin-top: 60px;
    width: 100%;
    background: #f5f7fb;
}

.title {
    text-decoration: none;
    color: #8CD78F;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.title:hover, .top-list li a:hover {
    color: #285843;
    text-decoration: none;
}

.top-list {
    float: right;
    margin-top: 20px;
}

.top-list ul {
    list-style: none;
    margin-right: 20px;
}

.top-list li {
    display: inline-block;
    padding: 0 0.5rem;
}

.top-list li a {
    text-decoration: none;
    color: #8CD78F;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.cli-head {
    margin-left: 20px;
    margin-right: 35px;
}

.pags {
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman";
    margin-top: 30px;
    font-size: 20px;
    height: 100%;
}

.top-cards {
    width: 100%;
    /*text-align: center;*/
}

.top-cards ul, .filter ul {
    list-style: none;
}

.top-cards ul li, .filter ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.top-cards ul li div {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: left;
}

.heading {
    font-size: 13px;
    color: #929a92;
    margin-top: 20px;
    margin-bottom: 5px;
}

.details {
    color: black;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.filter {
    width: 100%;
}

.input-data {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #c5c6c7;
    width: 240px;
    font-size: 14px;
}

.input-data:focus {
    outline: none;
    border-color: #8CD78F;
}

.table-div {
    width: 100%;
    height: 800px;
    background: white;
    border-radius: 10px;
    border: 2px solid #e5e7ea;
}

.cli-table .table-div {
    width: 100%;
    height: 70vh;
    background: white;
    border-radius: 10px;
    border: 2px solid #e5e7ea;
}

.my-custom-scrollbar {
    height: 100%;
    overflow: auto;
    padding-right: 10px;
}
.table-wrapper-scroll-y {
    display: block;
}

.table-wrapper-scroll-y::-webkit-scrollbar {
    width: 8px;
    background:  #d8dbdd;
    border-radius: 0 8px 8px 0;
}

.table-data {
    width: 100%;
    /*height: 100%;*/
}

.table-data thead {
    font-weight: bold;
    font-size: 13px;
    background: #e5e7ea;
    height: 20px;
    border-bottom: #e5e7ea 1px solid;
}

.table-data tbody {
    font-size: 12px;
    height: 20px;

}

.cli-table .table-data thead td{
    padding: 10px;
}

.table-data tbody td{
    padding: 10px;
    border-bottom: #e5e7ea 1px solid;
}

.table-data td {
    width: 40px;
    text-align: center;
}

.app_usage {
    margin: 10px 40px;
    width: 100%;
}

.app_usage ul {
    list-style: none;
}

.app_usage ul li {
    display: inline-block;
    margin-right: 10px;
}

.app_usage_div {
    background: white;
    border-radius: 20px;
    padding: 10px;
    height: 100px;
    width: 300px;
}

.app_usage_div_1{
    float: left;
    height: 100%;
}

.app_usage_div_2{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.figure {
    font-weight: bold;
    font-size: 25px;
}

.msg {
    font-size: 13px;
    margin-top: 10px;
    color: #929a92;
}

.data-download {
    background: #8CD78F;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.data-download:hover {
    text-decoration: none;
    color: #285843;
}





