{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Alrite</title>
  <link rel="shortcut icon" href="{% static 'images/alrite_logo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <header>
    <nav>
      <img src="{% static 'images/alrite_logo.png' %}" alt="" height="45px" width="45px">
      <h1>{% block header %}Alrite{% endblock header %}</h1>
      <a href="{% url 'dashboard' %}">Dashboard</a>
      <a href="{% url 'workflows' %}">Workflows</a>
      <a href="{% url 'clinicians' %}">Clinicians</a>
      <a href="">Patients</a>
      <a href="{% url 'logout' %}">Log out</a>
    </nav>
  </header>

  <main>
     {% block content %}
     {% endblock content %}
  </main>

  <footer>
    University of Washington
  </footer>
  
  <script src="{% static 'js/base.js'%}"> </script>
</body>
</html>

