{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content">

        {% if user.is_authenticated %}
            {% if request.user.is_admin %}

                <div>
                    <div class="cli-head text-right ">
                        <a href="{% url 'register' %}" class="btn btn-sm mt-3" style="background-color: #8CD78F; color: white; width: 200px">Create Clinician</a>
                    </div>
                    <div class="cli-table m-4">
                         <div class="table-div mt-5 my-custom-scrollbar table-wrapper-scroll-y">
                            <table class="table-data">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Username</td>
                                        <td>Health Facility</td>
                                        <td>Forms submitted</td>
                                        <td>Complete Forms</td>
                                        <td>Incomplete Forms</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cli in clinicians %}
                                        <tr>
                                            <td>{{ cli.first_name }} {{ cli.last_name }}</td>
                                            <td>{{ cli.username }}</td>
                                            <td>{{ cli.healthy_facility.name }}</td>
                                            <td>{{ cli.forms }}</td>
                                            <td>{{ cli.completed_forms }}</td>
                                            <td>{{ cli.incomplete_forms }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="pags">
                    <p>You are not authorized to access this page</p>
                </div>

            {% endif %}

        {% endif %}

    </div>
{% endblock content %}