{% extends 'base.html'%}

{% block page-nav-clinicians %}
active
{% endblock page-nav-clinicians %}

{% block content %}
<section>
  <h2 class="page-title" style="margin-bottom: 0;">
    All Clinicians
  </h2>
  <a href="{% url 'create-invite' %}">Invite Clinician</a>
</section>

<section class="card">
  <table>
    <thead> <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Forms Submitted</th>
    </tr> </thead>

    {% for user in users %}
    <tbody>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email|urlizetrunc:20 }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.forms }}</td>
      </tr>
    </tbody>

    {% endfor %}

  </table>
</section>

{% endblock content %}
