{% extends 'base.html' %}

{% block page-nav-dashboard %}
active
{% endblock page-nav-dashboard %}

{% block content %}
<div id="dashboard-columns">

<section class="card">
  <table>
    <thead> <tr>
      <th scope="col" colspan="2">
        <h3>{{workflows|length}} Workflows</h3>
      </th>
    </tr> </thead>

    <tbody>
      {% for entry in workflows %}
      <tr>
        <td>{{ entry.workflow_id|title }}</td>
        <td>{{ entry.num_patients }} patients</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section class="card">
  <table>
    <thead> <tr>
      <th score="col" colspan="3">
        <h3>{{users|length}} Clinicians</h3>
      </th>
    </tr> </thead>

    <tbody>
      {% for entry in users %}
      <tr>
        <td>{{ entry.role }}</td>
        <td>{{ entry.name }}</td>
        <td>{{ entry.forms }} forms</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section class="card">
  <table>
    <thead> <tr>
      <th score="col" colspan="3">
        <h3>{{patients|length}} Patients</h3>
      </th>
    </tr> </thead>

    <tbody>
      {% for entry in patients %}
      <tr>
        <td>Patient {{ entry.id }}</td>
        <td>Workflow {{ entry.workflow_id }} v{{ entry.workflow_version }}</td>
        <td>{{ entry.entry_count }} entries</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
</div>

{% endblock content %}
