{% extends 'base.html'%}
{% block content %}
<header>
  <h2>
    Workflow {{workflow.workflow_id}}
    {% if specific_version %}
    (version {{workflow.version}})
    {% endif %}
  </h2>
</header>

<section>
  {% if specific_version %}
    <a href="{% url 'editor' %}?workflow={{workflow.workflow_id}}&version={{workflow.version}}">Open in editor</a>
  {% else %}
    <a href="{% url 'editor' %}?workflow={{workflow.workflow_id}}">Open in editor</a>
  {% endif %}
</section>

{% if not specific_version %}
<section id="versions">
  <h3>Versions</h3>

  <table>
    <thead> <tr>
      <th scope="col">Version</th>
      <th scope="col">Created by</th>
      <th scope="col">Time created</th>
      <th scope="col">Number of Patients</th>
    </tr> </thead>

    <tbody>
      {% for wflow in versions %}
      <tr>
        <td>
          <a href="{% url 'workflow-info-version' workflow_id=workflow.workflow_id version=wflow.version %}">{{ wflow.version}}</a>
          {% if wflow.preview %}
            (preview)
          {% endif %}
        </td>
        <td>{{ wflow.created_by }}</td>
        <td>{{ wflow.time_created }}</td>
        <td>{{ wflow.num_patients }}</td>
        <td> <a href="">View</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endif %}

{% if specific_version %}
<section>
  <!-- <h3>Data changes</h3> -->
</section>
{% endif %}

<section>
  <h3>Collected data</h3>

  <table>
    <thead> <tr>
      <th scope="col">Workflow version</th>
      <th scope="col">Clinician</th>
      <th scope="col">Time recorded</th>
      {% for col_title in column_titles %}
      <th scope="col">{{col_title}}</th>
      {% endfor %}
    </tr> </thead>

    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{patient.workflow_version}}</td>
        <td>{{patient.clinician}}</td>
        <td>{{patient.time_submitted}}</td>
        {% for value in patient.values %}
        <td>{{value}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock content %}
